@model Tweb_lavender_paradise.Domain.Models.Product

<img src="@Model.ImgSrc" class="img-fluid" alt="@Model.GoodName">
<div class="card-body">
    <h5 class="card-title">@Model.GoodName</h5>
    <p class="card-text">@Model.GoodDescription</p>
    <div class="d-flex justify-content-between align-items-center">
        <span class="price-tag">₽ @Model.GoodPrice</span>
    </div>
</div>

