<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <i class="fas fa-spa me-2"></i>Лавандовый рай
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class="fas fa-home"></i> Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Catalog", "Home")">
                        <i class="fas fa-flask"></i> Каталог
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">
                        <i class="fas fa-leaf"></i> О лаванде
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to-contacts" href="#contacts-section">
                        <i class="fas fa-envelope"></i>
                        Контакты
                    </a>
                </li>
                <li class="nav-item">
                    @if (Session["UserRole"] == null || Session["UserRole"].ToString() == "Guest"){
                        <a class="nav-link" href="@Url.Action("Registration", "Home")">
                            <i class="fas fa-shopping-cart"></i>
                            Корзина
                        </a>
                    }
                    else{
                        <a class="nav-link" href="@Url.Action("Account", "Home")">
                            <i class="fas fa-shopping-cart"></i>
                            Корзина
                        </a>
                    }
                </li>
            </ul>
            <div class="auth-buttons">
                @if (Session["UserRole"] == null || Session["UserRole"].ToString() == "Guest"){
                    <a href="@Url.Action("Avtorization", "Home")" class="btn btn-outline-light">Войти</a>
                    <a href="@Url.Action("Registration", "Home")" class="btn btn-light">Регистрация</a>
                }
                else{
                    <a href="@Url.Action("Logout", "Account")">Выход (@Session["UserRole"])</a>
                }
            </div>
        </div>
    </div>
</nav>